*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Madurai', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #dcd1cd 35%, rgba(0,212,255,1) 100%);
}
.oi{
    height: 500px;
    background: #fff;
    max-width: 410px;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.5s ease;
}
.oi .active{
    height: 530px;
}
header h1{
    text-align: center;
    font-weight: 500;
    font-size: 21px;
}
header p{
    text-align: center;
    margin-top: 5px;
    color: #474747;
    font-size: 16px;
}
.oi .form{
    margin: 20px 0 25px;
}
.oi :where(input, button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.form input{
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
}
.form button{
    color:#fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    background: #987a71;
    transition: background-color 0.5s ease;
    
}

.img{
    width: 360px;
    height: 250px;
    
}

.form button:hover {
    background-color: #45a049; /* Verde mais escuro */
}